* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #292929;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 16px;
}

.app-section {
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
}

.app-section__container {
  padding-left: 111px;
  padding-right: 111px;
}

.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  width: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.nav-bar * {
  color: var(--white);
}

.nav-bar.shrink {
  background-color: var(--white);
  -webkit-box-shadow: 0 0 100px rgba(44, 44, 44, 0.137);
          box-shadow: 0 0 100px rgba(44, 44, 44, 0.137);
}

.nav-bar.shrink * {
  color: var(--black);
}

.base-input--line-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.base-input--line-form .input {
  padding: 22px 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  line-height: 2;
  background-color: #fff;
  color: var(--black);
  caret-color: royalblue;
}

.base-input--line-form .submit-btn {
  background-color: #0770e3;
  border: none;
  padding-right: 58px;
  padding-left: 58px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #fff;
}

.text-image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-image-block__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 497px;
  margin-right: 20px;
}

.text-image-block__text__heading {
  font-size: 64px;
}

.text-image-block__text__description {
  line-height: 2;
  margin-top: 24px;
}

.text-image-block__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.text-image-block__image.is-wrapper-for-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f6dde1;
  max-width: 632px;
  padding: 84px 20px;
  border-radius: 32px;
}

.text-image-block__image.is-wrapper-for-image svg,
.text-image-block__image.is-wrapper-for-image img {
  width: 100%;
}

.text-image-block.invert {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.text-image-block.invert .text-image-block__text {
  margin-left: 20px;
  margin-right: 0;
}

.home-page__hero {
  background-color: tomato;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.home-page__hero * {
  color: #fff;
}

.home-page__hero__heading {
  font-size: 64px;
  line-height: 1.12;
  font-weight: 600;
}

.home-page__hero__description {
  max-width: 440px;
  line-height: 2;
  margin-top: 24px;
  margin-bottom: 40px;
}

.home-page__hero .base-input--line-form {
  max-width: 471px;
}

.home-page__pay {
  margin-bottom: 170px;
}

.home-page__pay__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 442px;
      grid-template-columns: 1fr 442px;
  grid-gap: 32px;
}

.home-page__pay__grid__card {
  padding: 50px 53px;
  padding-bottom: 0;
  border-radius: 32px;
}

.home-page__pay__grid__card.yellow {
  background-color: #ffebd0;
}

.home-page__pay__grid__card__heading {
  font-size: 40px;
  line-height: 1.2;
}

.home-page__pay__grid__card__description {
  margin-top: 16px;
  max-width: 311px;
  line-height: 2;
}

.home-page__pay__grid__card__base {
  height: 196px;
  margin-top: 46px;
  background: #ffb32e;
  border-radius: 37px 37px 0 0;
  max-width: 451px;
  position: relative;
}

.home-page__pay__grid__card__base__icon {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(29px, -25px);
          transform: translate(29px, -25px);
}

.home-page__pay__grid__card.green {
  background: #d0eeec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 53px;
  padding-top: 0;
}

.home-page__pay__grid__card.green .home-page__pay__grid__card__base {
  margin-top: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 46px;
  border-radius: 0 0 37px 37px;
  background: #72d0c9;
}

.home-page__pay__grid__card.green .home-page__pay__grid__card__heading,
.home-page__pay__grid__card.green .home-page__pay__grid__card__description {
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.home-page__how .text-image-block {
  margin-bottom: 200px;
}

.home-page__shop {
  padding: 150px 0;
  background: #ffe7e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 32px;
}

.home-page__shop__heading {
  margin-bottom: 28px;
  font-size: 40px;
  line-height: 0.97;
}

.home-page__shop__description {
  line-height: 2;
  max-width: 745px;
  text-align: center;
  margin-bottom: 40px;
}

.home-page__shop .base-input--line-form {
  width: 100%;
  max-width: 758px;
  margin-left: auto;
  margin-right: auto;
}

.app-footer {
  padding: 20px;
  background: #f2f6fc;
  margin-top: 91px;
}

.app-footer .app-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app-footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-footer__left__text {
  margin-left: 20px;
}

.app-footer__left__text .sm {
  font-size: 12px;
  margin-bottom: 5px;
}

.app-footer__left__text .bg {
  font-weight: 600;
  font-size: 14px;
}

.app-footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app-footer__right .download-btn {
  background: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 17px;
}

.app-footer__right .download-btn .icon {
  height: 40px;
  width: 40px;
  margin-right: 6px;
  background: whitesmoke;
  border-radius: 5px;
}

.app-footer__right .download-btn__title {
  font-size: 11px;
  margin-bottom: 5px;
}

.app-footer__right .download-btn__heading {
  font-size: 14px;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */